/* Simple CSS Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Base Styles */
html,
body {
  height: 100%;
  font-family: Arial, sans-serif;
  line-height: 1.6;
  font-size: 16px;
  background-color: #f9f9f9; /* A subtle background color */
  color: #333; /* Dark gray text for readability */
}

/* Optional utility for centering content */
body {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

/* Basic text styling */
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: 1rem;
  font-weight: normal;
}

p {
  margin-bottom: 1.5rem;
}

a {
  color: #007bff;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}
/* Ensure consistent box model */
*,
*::before,
*::after {
  box-sizing: border-box;
}
:root {
  --primary-font-family:Poppins, "Open Sans", -apple-system, BlinkMacSystemFont, "Helvetica Neue", Helvetica, sans-serif;
  /* --primary-color: #007bff;
    --secondary-color: #6c757d; */
  --text-color: #cccccc;
}
.avatar-container {
  height: 150px;
  width: 150px;
}
.blog-title {
  color: var(--text-color);
  font-size: 1.5rem;
}
.blog-description {
  color: var(--text-color);
}
.social-media {
  color: white;
}
.recent-post-headline {
  color: var(--text-color);
  align-self: self-start;
}
.recent-post-img {
  height: 100px;
  padding-right:20px ;
}
.recent-post-description {
  color: var(--text-color);
}
.post-short-overview {
  text-align: justify;
  border: 1px solid black;
}
.post-content {
  margin: 0px 68px;
}
.post-cover-image {
  width: 100%;
}
.post-list-title {
  font-weight: 700;
  text-decoration-thickness: 2px;
  font-size: 3.2rem;
  line-height: 1.1;
  letter-spacing: -0.05rem;
}
/* For large screens (desktop) */
@media (min-width: 993px) {
  main {
    display: grid;
    grid-template-columns: 0fr 1fr;
    width: 80%;
    height: 100dvh;
    margin-top: 200px;
  }
  .sidebar {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 400px;
    background-color: #27282b;
  }

  .personal-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
  }

  .social-media-container {
    display: flex;
    justify-content: space-around;
    width: 40%;
    margin-top: 20px;
  }
  .post-container {
    margin: 10px 10px;
  }

  .recent-post-container {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  .hamburger-menu {
    display: none;
  }
}

/* For tablets & For small screens (mobile) */
@media (max-width: 992px) {
  main {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100dvh;
  }
  .hamburger-menu {
    display: flex;
    margin: 24px 10px;
  }
  .sidebar {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* width: 100%; */
    height: fit-content;
    background-color: #27282b;
  }
  .avatar-container {
    height: 150px;
    width: 150px;
  }
  .personal-info {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .social-media-container {
    width: 128px;
    display: flex;
    justify-content: space-around;
  }
  .recent-post-container {
    display: none;
    flex-direction: row;
    align-items: center;
    margin: 32px 10px;
  }
  .post-container {
    margin: 10px 10px;
  }
  /* .recent-post-headline {
    position: absolute;
    top: 352px;
  } */
}
